h1.site-title{
    a{
    background: linear-gradient(to right, $color__background-site-title-start 3%, $color__background-site-title-end 120%);
    color: #fff;
    padding: 12px;
    transform: skewX(-10deg);
    box-shadow: -2px 3px 9px rgba(0, 0, 0, 0.5);
    display: inline-block;
    border-radius: 10px;        
    }
}