.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;

	img[class*="wp-image-"] {
		@include center-block;
	}

	.wp-caption-text {
		margin: 0.8075em 0;
	}
}

.wp-caption .wp-caption-text {
    padding: 0.8075em 1em;
    font-size: 14px;
    font-size: .9rem;
    font-family: sans-serif;
    background: rgba(38, 38, 38, 0.2);
    text-align: center;
}