.gallery {
    margin-bottom: 1.5em;
}

.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;

    // Loops to enumerate the classes for gallery columns.
    @for $i from 2 through 9 {
        .gallery-columns-#{$i} & {
            max-width: map-get( $columns, $i );
        }
    }
}

.gallery-caption {
    display: block;
    font-size: .7rem;
}
span.toggleCaption {
    color: $color__entry-meta-link;
    font-family: "Ionicons";
    display: inline-block;
    background-color: $color__background-open-meta-tags;
    width: 100%;
    /* margin: 0 auto; */
    height: 45px;
    cursor: pointer;
    line-height: 45px;
    width: 45px;
    border-radius: 50%;
    text-align: center;
    margin-top: 10px;
    i{
        font-style: normal;
        &.toggleCaption-plus{
            font-style: normal;
            &::before{
                font-family: "Ionicons";
                content: "\f3d0";
            }
        }
        &.toggleCaption-minus{
            &::before{
                font-family: "Ionicons";
                content: "\f3d8";
            } 
        }
    }


}

/* Gallery block */
article.category-block{
    ul.wp-block-gallery{
        list-style-type: none;
        background-color: #1e0000;
        padding: 0;
        margin: 0 auto;
        text-align: center;

        display: flex;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
        li.blocks-gallery-item{
            > figure{
                position: relative;
                img{
                    box-shadow: 2px 2px 4px rgba(0,0,0,.5);
                }
            }
        }
        figcaption{
            background-color: #101213b0;
            color: #ddd;
            display: block;
            padding: 2px;
            position: absolute;
            bottom: 0;
            line-height: 1rem;
            font-size: .6rem;
            overflow: auto;
            max-height: 100%;
            width: 100%;
        }
    }
}
li.blocks-gallery-item{

    @for $i from 2 through 8{
        .columns-#{$i} &{
            max-width: map-get($columns, $i);
            /*background-color: brown;*/
            margin-bottom: 20px;
            flex: 0 0 100%;
            padding-left: 15px;
            padding-right: 15px;
            align-self: flex-end;

        }
    }
}
