.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
    max-width: 100%;
}
/* Display the logo on top when mm is open*/
.custom-logo-link.mm-open{
    z-index: 9999;
    max-width: 80px;
}
/* Make sure logo link wraps around logo image. */
.custom-logo-link {
    display: inline-block;
    max-width: 150px;
    height: auto;
    position: absolute;
    left: 20%;
    top: 0;
    z-index: 4;
    transition: all 1s;
    @media screen and (min-width: 992px){
        left:20px;
    }
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
@import "captions";

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
@import "galleries";
