figure.wp-block-video{
    max-width: 100%;
    height: auto;
    video{
        max-width: 100%;
        height: auto;
    }
}
figure.wp-block-audio{
    max-width: 100%;
    height: auto;
    audio{
        max-width: 100%;
    }
}