p {
    margin-bottom: 1.5em;
    word-break: break-word;
}
@media screen and (min-width: 992px){
    .entry-content p {
        text-align: left;
    }
}
.entry-content p, .entry-content ul, .entry-content ol {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.6em;
}
dfn, cite, em, i {
    font-style: italic;
}

blockquote{
    border-top: 1px solid #bbc0c4;
    border-bottom: 1px solid #bbc0c4;
    /* font-style: italic; */
    padding: 1em 1.5em 0;
    margin-bottom: 1em;
}

address {
    margin: 0 0 1.5em;
}

pre {
    background: $color__background-pre;
    font-family: $font__pre;
    @include font-size(0.9375);
    line-height: $font__line-height-pre;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}

code, kbd, tt, var {
    font-family: $font__code;
    @include font-size(0.9375);
}

abbr, acronym {
    border-bottom: 1px dotted $color__border-abbr;
    cursor: help;
}

mark, ins {
    background: $color__background-ins;
    text-decoration: none;
}

big {
    font-size: 125%;
}
