body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	@include font-size(1);
	line-height: $font__line-height-body;
}

@import "headings";

@import "copy";

@font-face{
    font-family: 'Roboto-Regular';
    src: url('assets/fonts/Roboto-Regular.ttf');
    font-weight: 400;
}
@font-face{
    font-family: 'Courgette-Regular';
    src:url('assets/fonts/Courgette-Regular.ttf');
    font-weight: 900;
}
@font-face{
    font-family: 'Montserrat-Regular';
    src: url('assets/fonts/Montserrat-Regular.ttf');
    font-weight: normal;
}