aside.widget-area{
    /*background-color: #4e6276;*/
    padding: 5px;
    .widget {
        margin: 0 0 1.5em;
        border: 1px solid #1e1e1e;
        background-color: #000000;
        padding: 5px 10px;
        img{
            max-width: 40%;
        }
        .widget-title{
            font-size: 1.5rem;
            margin: 0 0 10px;
            /*border-bottom: 2px dotted;*/
            /*padding: 0 0 0 10px;*/
            color: #FE8703;
            display: inline-block;
            /* border-color: #ffffff; */
            a{
                color: #fff;
            }
        }
        ul{
            /*border: 1px solid ;*/
            list-style-type: none;
            margin:0 auto;
            padding:0;
            li{
                /*border: 1px solid #f0f;*/
                font-family: "Roboto-Regular";
                font-size: 0.9rem;
                ul{
                    margin: 0 0 0 .5rem;
                    li{
                        /*                        font-size: .7rem;*/
                    }
                }
                a{
                    color: $color__text-continue-reading;
                    display: inline-block;
                    min-height: 45px;
                    padding: 0;
                    margin: 0;
                    &:hover{
                        color: $color__text-continue-reading-hover;
                    }
                }
            }
        }

        /* Make sure select elements fit in widgets. */
        select {
            max-width: 100%;
        }
    } /* .widget*/
    $widgets : (
    "archive":"\f134",
    "tag_cloud":"\f377",
    "categories":"\f26c", 
    "search":"\f4a5", 
    "calendar":"\f3f4",
    "recent_comments":"\f11e",
    "text":"\f12e", 
    "nav_menu":"\f394", 
    "recent_entries":"\f37e", 
    "meta":"\f48d",
    "pages":"\f381") ;
    
    @each $widget , $glyph in $widgets{
        .widget_#{$widget}{
            @include sidebar-title-icon($glyph);
        }
    }
}
