aside.widget-area{
    /*background-color: #4e6276;*/
    padding: 5px;
    .widget {
        margin: 0 0 1.5em;
        border: 1px solid #1e1e1e;
        background-color: #000000;
        padding: 5px 10px;
        img{
            max-width: 40%;
        }
        .widget-title{
            font-size: 1.5rem;
            margin: 0 0 10px;
            /*border-bottom: 2px dotted;*/
            /*padding: 0 0 0 10px;*/
            color: #fff;
            display: inline-block;
            /* border-color: #ffffff; */
            a{
                color: #fff;
            }
        }
        ul{
            /*border: 1px solid ;*/
            list-style-type: none;
            margin:0 auto;
            padding:0;
            li{
                /*border: 1px solid #f0f;*/
                font-family: "Roboto-Regular";
                font-size: 0.9rem;
                ul{
                    margin: 0 0 0 .5rem;
                    li{
                        /*                        font-size: .7rem;*/
                    }
                }
                a{
                    color: $color__text-continue-reading;
                    display: inline-block;
                    min-height: 45px;
                    padding: 0;
                    margin: 0;
                    &:hover{
                        color: $color__text-continue-reading-hover;
                    }
                }
            }
        }

        /* Make sure select elements fit in widgets. */
        select {
            max-width: 100%;
        }
    } /* .widget*/
    .widget_archive{
        @include sidebar-title-icon("\f134");

    } 
    .widget_tag_cloud{
        @include sidebar-title-icon("\f377");
    }
    .widget_categories{
        @include sidebar-title-icon("\f26c");
    }
    .widget_search{
        @include sidebar-title-icon("\f4a5");
    }
    .widget_calendar{
        @include sidebar-title-icon("\f3f4");
    }
    .widget_recent_comments{
        @include sidebar-title-icon("\f11e");
    }
    .widget_text{
        @include sidebar-title-icon("\f12e")
    }
    .widget_nav_menu{
        @include sidebar-title-icon("\f394");
    }
    .widget_recent_entries{
        @include sidebar-title-icon("\f37e");
    }
    .widget_meta{
        @include sidebar-title-icon("\f48d");
    }
    .widget_pages{
        @include sidebar-title-icon("\f381");
    }
}
