// ionicon for menu element has children
@mixin after-menu-has-children($content){
    content: $content;
    font-family: "Ionicons";
    color: #eee;
    vertical-align: top;
    margin-left: 5px;
}
// ionicons for calendar and author in meta entry
@mixin entry-meta($content){
    display: inline-block;
    font-family: "Ionicons";
    content: $content;
    font-weight: 100;
    margin-right: 5px;
}
// posts pagination in home archive pages 
@mixin pagination-home-archive($background_color : #1e1e1e, $text_color: #ddd){
    display: block;
    width: 50%;
    background-color: $background_color;
    color: $text_color;
    height: 45px;
    text-align: center;
    line-height: 45px;
    padding: 0;
    margin: 0 auto 5px;
    @media screen and (min-width:768px){
        display: inline-block;
        width: 45px;
        height: 45px;
    }
}
// ionicons for sidebar 
@mixin sidebar-title-icon($content){
        .widget-title{
            &::before{
                font-family: "Ionicons";
                content: $content;
                display: inline-block;
                margin: 0 10px 0 0;
                color: #FE8802;
            }
        }    
}