html {
    box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    box-sizing: inherit;
}

body {
    background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}
header.site-header{
    background: linear-gradient(to right,$color__background-header-from,$color__background-header-to);
    position: relative;
    min-height: 310px;
    transition: all .5s;
    @media screen and (min-width: 768px){
        min-height:350px;
    }
}
div.header-container{
    padding-left: 0;
    padding-right: 0;
}
svg{
    filter: drop-shadow(10px 2px 5px rgba(0, 0, 0, .60));
    width: 100%;
    height: 150px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    opacity: .8;
}
hr {
    background-color: $color__background-hr;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}

@import "lists";

img {
    height: auto; /* Make sure images are scaled correctly. */
    max-width: 100%; /* Adhere to container width. */
}

figure {
    margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

@import "tables";
