$color__background-body: #344759;
$color__background-header-from: #ff8a00;
$color__background-header-to: #da1b60 ;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__background-site-title-start: #f00; 
$color__background-site-title-end: #630000;

$color__entry-meta-link:#ccc;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: #fff;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
