.sticky {
    display: block;
}

.post,
.page {
    margin: 0 0 1.5em;
}

.updated:not(.published) {
    display: none;
}

.page-content,
.entry-content,
.entry-summary {
    margin: 1.5em 0 0;
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}

div.entry-meta{
    font-size:.8rem;
    span.posted-on{
        a{
            color: $color__entry-meta-link;
            &:before{
                @include entry-meta("\f3f3");
            }

        }
    }
    span.byline{
        span.author{
            a{
                color: $color__entry-meta-link;
                &:before{
                    @include entry-meta("\f3a0");
                }
            }

        }

    }
}
body.home article.active{
    height: auto;
}
/**
* Home & Archive
*/
body.home article,
body.archive article{
    background-color: $color__background-article;
    min-height: 300px;
    padding: 10px 10px 0 10px;
    position: relative;

    @media screen and (min-width: 992px){
        min-height: 320px;
    }
    .bg-image{
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    .bg-overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color__background-overlay;
    }
    header.entry-header{
        position:relative;
        h2.entry-title{
            font-size: 1.1rem;
            color: $color__text-entry-header;
            -ms-word-wrap: break-word;
            word-break: break-word;
            a {
                color:$color__text-entry-header-link;
                letter-spacing: 0.6px;
                &:hover{
                    text-decoration: none;
                    color: $color__text-entry-header-link-hover;
                }
            }
            @media screen and (min-width:768px){
                font-size:1.5rem;
            }
        }/* .entry-title */
    }
    .entry-content{
        font-size: .8rem;
        position: relative;
        @media screen and (min-width: 992px){
            font-size:1rem;
        }
    }
    footer.entry-footer.open{
        position: relative;
    }
    footer.entry-footer{
        font-size: .8rem;
        position: absolute;
        width: 90%;
        bottom:5px;
        a.continue-reading{
            color: $color__text-continue-reading;
            display: block;
            /*background-color: #F44336;*/
            padding-top: 10px;
            padding-bottom: 10px;
            text-align: center;
            margin-bottom: 10px;
            font-size:.8rem;
            &:hover{
                /*background-color: #d53428;*/
                color: $color__text-continue-reading-hover;
                text-decoration: none;
            }
            &:after{
                font-family: "Font Awesome 5 Free";
                content: "\f35a";
                display: inline-block;
                margin-left: 5px;
            }
        }        
        span.open-meta-tags{
            color: $color__entry-meta-link;
            font-family: "Ionicons";
            display: inline-block;
            background-color: $color__background-open-meta-tags;
            width: 100%;
            /* margin: 0 auto; */
            height: 45px;
            cursor: pointer;
            line-height: 45px;
            width: 45px;
            border-radius: 50%;
            text-align: center;
        }
        span.open-meta-tags:after{
            display: block;
            margin: 0 auto;
            width: 10px;
            content: "\f3d0"; 
        }
        span.open-meta-tags.active{
        }
        span.open-meta-tags.active:after{
            content: "\f3d8";
        }
        .meta-infos{
            padding-bottom: 10px;

            span.cat-links{
                display: block;
                margin-bottom: 5px;
                a{
                    color: $color__text-cats-links;
                    /* background-color: rgba(0, 0, 0, 0.38); */
                    display: inline-block;
                    padding: 5px;
                    margin-bottom: 5px;
                    text-decoration: underline;
                    &:hover{
                        color: $color__text-cats-links-hover;
                    }
                }
            }
            span.comments-link{
                display: block;
                font-size: 1rem;
                font-family: sans-serif;
                height: 40px;
                a{
                    font-family: sans-serif;
                    color: $color__text-comments-links;
                    &:hover{
                        text-decoration: none;
                        color: $color__text-comments-links-hover;
                    }
                }
            }
            span.tags-links{
                display: block;
                margin-top: 5px;
                margin-bottom: 5px;
                a{
                    margin-left: 0.4rem;
                    border-radius: 50%;
                    background-color: $color__background-tags-links;
                    padding: 5px 8px;
                    color: $color__text-tags-links;
                    text-decoration: none;
                    font-family: FontAwesome;
                    display: inline-block;
                    margin: 5px;
                }
                &:hover{
                    color: $color__background-tags-links-hover;
                }
            }
        }
    }

}

$archives: ( "category":"\f26c" , "author":"\f47e","tag":"\f377" , "date":"\f3f4");

@each $archive, $glyph in $archives{
    body.#{$archive} {
        @include archive-page-title-icon($glyph);
    }
}

/**
* Single
*/
body.single{
    article{
        header.entry-header{
            text-align: center;
            h1.entry-title{
                font-size: 1.5rem;
                margin: 0 0 2rem;
            }
        }
    }
}